USE [master]
GO
/****** Object:  Database [MCVDB]    Script Date: 3/8/2022 3:03:46 AM ******/
CREATE DATABASE [MCVDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MCVDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MCVDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MCVDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MCVDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MCVDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MCVDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 3/8/2022 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/8/2022 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](500) NULL,
	[DeptName] [varchar](500) NULL,
	[BirthDate] [date] NULL,
	[Title] [varchar](5) NULL,
	[HiringDate] [date] NULL,
	[PhotoFileName] [varchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
